# Environment
APP_ENV=development                # development, production, or local
TEST_EMAIL=test@example.com        # email for test verification codes

# Auth & Services
JWT_SECRET=your_jwt_secret_key
RESEND_TOKEN=your_resend_token     # API token for Resend mailing service

# Databases
DB_NAME=aerogram_db
DB_USER=admin
POSTGRES_PASSWORD=your_postgres_password
REDIS_PASSWORD=your_redis_password

# 2FA
ENABLE_2FA=true
2FA_ON_SIGN_UP=true
2FA_ON_SIGN_IN=false

# Frontend API Connections
# Pointing to Nginx (3443) for SSL/Proxying
VITE_API_URL=https://localhost:3443/query
VITE_WS_URL=wss://localhost:3443/query
