# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go and Node.js workspace file
go.work
go.work.sum
go.sum
frontend/node_modules

# env file
.env

# Editor/IDE
.idea/
.vscode/
.zed/

# Shared
TODO.md
config.yaml
