{
    debug
}

localhost:3443, :3443 {
    root * /usr/share/caddy
    encode zstd gzip

    handle /query* {
        reverse_proxy https://api:8080 {
            transport http {
                versions 1.1
                tls_insecure_skip_verify
            }
            header_up Host {http.request.host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle /media/* {
        uri strip_prefix /media
        reverse_proxy minio:9000 {
            transport http {
                versions 1.1
            }
        }
    }

    handle {
        try_files {path} /index.html
        file_server
    }

    handle_errors {
        rewrite * /{err.status_code}.html
        file_server
    }

    tls internal
}

:80 {
    root * /usr/share/caddy

    handle /query* {
        reverse_proxy https://api:8080 {
            transport http {
                versions 1.1
                tls_insecure_skip_verify
            }
            header_up Host {http.request.host}
            header_up X-Real-IP {remote_host}
        }
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}
