APP_ENV=development                        # development, production or local
TEST_EMAIL=test@example.com                # Your email address for test verification codes
POSTGRES_PASSWORD=your_postgres_password   # PostgreSQL password
REDIS_PASSWORD=your_redis_password         # Redis password
JWT_SECRET=your_jwt_secret_key             # JWT secret key
RESEND_TOKEN=your_resend_token             # Resend API token
